*{
    box-sizing: border-box;
}

body{
    background-color: blue;
    color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    padding: 20px;
}

h2{
    margin: 10px;
    text-align: center;
    
}
.container{
    background-color: darkorchid;
    box-shadow: 0 5px 10px yellow;
    padding: 20px;
    width: 350px;
    max-width: 100%;
}
.result-container{
    background-color: deeppink;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 45px;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;

}
.result-container #result{
    word-wrap: break-word;
    max-width: calc(100%-60px);
}
.result-container .btn{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    font-size: 20px;
}
.btn{
    border: none;
    background-color: darkgoldenrod;
    color: greenyellow;
    font-size: 20px;
    padding: 8px 12px;
    cursor: pointer;
}
.btn-large{
    display: block;
    width: 100%;
}
.setting{
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin: 12px 0; 
}































